@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Big';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Black.woff') format('woff'),
    url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}

.exit-button {
    display: flex;
    justify-content: end;
    margin-top: 13px;
    margin-right: 13px;
    margin-bottom: 21px;
}

.login-selector {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 40px;
}

.login-button {
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;
}

.register-button {
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
    color: #46A358;
}

.info-registration-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 14px;
    margin-right: 40px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 41px;
}

.form-actions form input {
    width: 300px;
    height: 40px;
    font-family: Montserrat, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding-left: 14px;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}

.form-button button {
    width: 300px;
    height: 45px;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #46A358;
    border: 1px transparent;
    border-radius: 5px;
}

.or-divider {
    display: flex;
    justify-content: center;
    font-family: Montserrat, serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 27px;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.login-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-family: montserrat, serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #727272;
    text-decoration: none;
    cursor: pointer;
    gap: 9px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.green {
    color: #46A358;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 17px;
    margin-bottom: 12px;
    border-bottom: 1px rgba(70, 163, 88, 0.5) solid;
}

.logo {
    width: 150px;
    height: 35px;
    padding: 0;
    margin-right: 229px;
}


.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 8px 17px 7px;
    background: #46A358;
}

.header-button img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cera Pro Medium, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    gap: 4px;
}

.main-welcome-text {
    font-family: Cera Pro Medium, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3D3D3D;
    padding-bottom: 7px;
    margin: 0;
}

.main-motto-text {
    font-family: Cera Pro Big, serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin: 0;
    padding-bottom: 5px;
}

.main-description-text {
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin: 0;
    padding-bottom: 44px;
}

.main-info {
    display: flex;
    align-items: center;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    margin-bottom: 46px;
}

.main-info-text {
    align-items: center;
    padding-left: 40px;
}

.main-button {
    display: inline-block;
    padding: 11px 27px;
    background: #46A358;
    border-radius: 6px;
}

.main-button a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.picture {
    margin-left: 95px;
    position: relative;
}

.flower-main-mini {
    position: absolute;
    left: 55px;
    bottom: 20px;
}

.goods-and-filter {
    display: flex;
    gap: 40px;
    margin-bottom: 90px;
}

.filter {
    background: #FBFBFB;
    padding-bottom: 377px;
}

.filter-title {
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
    margin: 0;
    padding-top: 14px;
    padding-left: 18px;
    padding-bottom: 7px;
}

.filter-menu {
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    list-style-type: none;
    text-decoration: none;
    padding-top: 7px;
    padding-left: 30px;
    margin: 0;
}

.filter-menu a {
    text-decoration: none;
    color: #3D3D3D;
}

.filter-menu li:hover a {
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
    color: #46A358;
}


.sorting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}


.sorting-tab ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    padding: 0;
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    border: 2px solid transparent;
}

.sorting-tab a {
    text-decoration: none;
    color: #3D3D3D;
}

.sorting-tab li:hover a {
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #46A358;
    border-bottom: 2px solid #46A358;
}

.sorting-tab li:first-child a {
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #46A358;
    border-bottom: 2px solid #46A358;
}

.sorting-by {
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sorting-by p {
    margin: 0;
    color: #3D3D3D;
}

.sorting-by a {
    margin: 0;
    text-decoration: none;
    color: #3D3D3D;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    border: 1px solid transparent;
}

.card:hover {
    border-top: 1px solid #46A358;
}

.card-image {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 258px;
    height: 300px;
    background: #FBFBFB;
    margin-bottom: 12px;
    position: relative;
}

.card-image-discount {
    position: absolute;
    top: 14px;
    left: 0;
    font-family: Cera Pro medium, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: #46A358;
    padding: 7px 9px;
}

.card-text {
    font-family: Cera Pro regular, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
    margin: 0;
    text-decoration: none;
}

.card-icons {
    position: absolute;
    display: flex;
    bottom: 15px;
    gap: 26px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.card-image:hover .card-icons {
    opacity: 1;
    pointer-events: auto;
}

.card:hover .card-icons {
    opacity: 1;
    pointer-events: auto;
}

.card-icons a {
    text-decoration: none;
}

.card-icons a:hover svg path {
    fill: #46A358;
}

.card-price-block {
    display: flex;
    gap: 16px;
}

.card-price-actual {
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
    margin: 0;
}

.card-price-unactual {
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #A5A5A5;
    text-decoration: line-through;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.card-text-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding-bottom: 82px;
}


.pagination a {
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    font-family: Cera Pro Regular, serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;
}


.pagination a:first-child {
    padding: 10px 14px;
    border-radius: 4px;
    background: #46A358;
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
}

.pagination a:hover {
    padding: 10px 14px;
    border-radius: 4px;
    background: #46A358;
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
}

.pagination a:last-child {
    padding: 8px 10px;
}

.pagination a:last-child:hover svg path {
    padding: 8px 10px;
    stroke: white;
    fill: none;
}

.pagination a svg path {
    fill: none;
}

.find-more-section {
    display: flex;
    gap: 28px;
    margin-bottom: 138px;
}

.find-more-block {
    display: flex;
    background: #FBFBFB;
    position: relative;

}

.find-more-image {
    position: absolute;
    bottom: 10px;
    height: 292px;
}


.find-more-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-top: 37px;

}

.find-more-title {
    font-family: Cera Pro Big, serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 9px;
}

.find-more-description {
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #727272;
    margin: 0 30px 25px 264px;
    width: 292px;
}

.find-more-button {
    display: flex;
    padding: 11px 27px;
    background: #46A358;
    border-radius: 6px;
    gap: 2px;
    margin-right: 30px;
    width: fit-content;
    margin-bottom: 46px;
}

.find-more-button a {
    display: flex;
    font-family: Cera Pro Medium, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
}


.blog-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 68px;
}

.blog-title {
    font-family: Cera Pro medium, serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
    padding-bottom: 15px;
    margin: 0;
}

.blog-description {
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin: 0;
    padding-bottom: 35px;
}


.blog-post-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    width: 265px;
    background: #FBFBFB;
}


.blog-card-date {
    font-family: Cera Pro regular, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
    margin: 0 15px;
    padding-top: 9px;
    padding-bottom: 4px;
}

.blog-card-title {
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
    margin: 0 15px;
    padding-bottom: 4px;
}

.blog-card-description {
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin: 0 15px;
    padding-bottom: 9px;
}

.blog-card-button {
    display: flex;
    align-items: center;
    font-family: Cera Pro Medium, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0 15px;
    padding-bottom: 13px;
    text-decoration: none;
    color: #3D3D3D;
}


.blog-card-button:hover {
    color: #46A358;
}

.blog-card-button:hover svg path {
    fill: #46A358;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin-right: 367px;
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    position: relative;
}

.header-menu a {
    text-decoration: none;
    color: #3D3D3D;
}

.header-menu a:hover {
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;
}

.header-menu > li:hover > a {
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #3D3D3D;
    border-bottom: 3px solid #46A358;
    padding-bottom: 24px;
}

.header-menu li > ul {
    position: absolute;
    padding-top: 40px;
    display: none;
}

.header-menu > li:hover > ul {
    display: block;
}

.plant-care-menu {
    list-style-type: none;
    position: absolute;
    left: 130px;
    display: none;
}

.plant-care-menu li {
    position: relative;
    padding: 0;
    background: #EDF6EE;
}

.plant-care-menu li a {
    display: block;
    padding: 8px 17px 8px 14px;
    text-decoration: none;
    color: #3D3D3D;
    width: 100%;
    height: 100%;
}

.plant-care-menu li:last-child:hover a {
    color: white;
}

.plant-care-menu > li:hover > a {
    background: #1A712A;
    color: #fff;
    font-family: 'Cera Pro Bold', serif;
    font-weight: 700;
}

.plant-care-menu li:last-child a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    margin-left: auto;
}

.priming-menu {
    position: absolute;
    left: 186px;
    top: -96px;
    display: none;
    list-style-type: none;
    white-space: nowrap;
    z-index: 2;
    padding-top: 0 !important;
}

.priming-menu::before {
    content: '';
    position: absolute;
    left: -28px;
    top: 0;
    width: 28px;
    height: 100%;
}

.plant-care-menu li:hover > .priming-menu {
    display: block;
}

.priming-menu a {
    color: #3D3D3D !important;
    background: #EDF6EE;
    font-family: 'Cera Pro Regular', serif;
    font-weight: 400;
}

.priming-menu a:hover {
    background: #1A712A;
    color: #fff !important;
    font-family: 'Cera Pro Bold', serif;
    font-weight: 700;
}

.plant-care-menu li img {
    padding-left: 88px;
}

.plant-care-menu li:hover img {
    content: url('/images/plant-care-white.svg');
}
