$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-xl: 1024px;

@font-face {
  font-family: 'Cera Pro Regular';
  src: url('../fonts/CeraPro-Regular.eot');
  src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Regular.woff') format('woff'), url('../fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url('../fonts/CeraPro-Medium.eot');
  src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Medium.woff') format('woff'), url('../fonts/CeraPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Big';
  src: url('../fonts/CeraPro-Black.eot');
  src: url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Black.woff') format('woff'), url('../fonts/CeraPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Bold';
  src: url('../fonts/CeraPro-Bold.eot');
  src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Bold.woff') format('woff'), url('../fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}

.exit-button {
  display: flex;
  justify-content: end;
  margin-top: 13px;
  margin-right: 13px;
  margin-bottom: 21px;
}

.login-selector {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
}

.login-button {
  font-family: Montserrat, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #3D3D3D;
}

.register-button {
  font-family: Montserrat, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #46A358;
}

.info-registration-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 14px;
  margin-right: 40px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 41px;
}

.form-actions {
  form {
    input {
      width: 300px;
      height: 40px;
      font-family: Montserrat, serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #A5A5A5;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      padding-left: 14px;
    }
  }
}

.form-button {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;

  button {
    width: 300px;
    height: 45px;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #46A358;
    border: 1px transparent;
    border-radius: 5px;
  }
}

.or-divider {
  display: flex;
  justify-content: center;
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 27px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.login-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  font-family: Montserrat, serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #727272;
  text-decoration: none;
  cursor: pointer;
  gap: 9px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.green {
  color: #46A358;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 17px;
  margin-bottom: 12px;
  border-bottom: 1px rgba(70, 163, 88, 0.5) solid;
  @media (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: $breakpoint-md) {
    display: flex;
    justify-content: center;
  }
  @media (max-width: $breakpoint-xl) {
    display: flex;
    justify-content: center;
  }
}

.logo {
  width: 150px;
  height: 35px;
  padding: 0;
  margin-right: 229px;
  @media (max-width: $breakpoint-xs) {
    margin: 0 0 20px 0;
  }
  @media (max-width: $breakpoint-sm) {
    margin: 0 0 20px 0;
  }
  @media (max-width: $breakpoint-md) {
    margin-right: 20px;
  }
  @media (max-width: $breakpoint-xl) {
    margin-right: 20px;
  }
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 8px 17px 7px;
  background: #46A358;

  @media (max-width: $breakpoint-xs) {
    margin-top: 20px;
  }
  @media (max-width: $breakpoint-sm) {
    margin-top: 20px;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cera Pro Medium, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    gap: 4px;
  }
}

.main-welcome-text {
  font-family: Cera Pro Medium, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #3D3D3D;
  padding-bottom: 7px;
  margin: 0;
  @media (max-width: $breakpoint-xs) {
    padding: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media (max-width: $breakpoint-sm) {
    padding: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.main-motto-text {
  font-family: Cera Pro Big, serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3D3D3D;
  margin: 0;
  padding-bottom: 5px;
  @media (max-width: $breakpoint-xs) {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  @media (max-width: $breakpoint-sm) {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.main-description-text {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin: 0;
  padding-bottom: 44px;
  @media (max-width: $breakpoint-xs) {
    text-align: center;
    padding-bottom: 20px;
  }
  @media (max-width: $breakpoint-sm) {
    text-align: center;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.main-info {
  display: flex;
  align-items: center;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
  margin-bottom: 46px;
  @media (max-width: $breakpoint-xs) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
  }
}

.main-info-text {
  align-items: center;
  padding-left: 40px;
  @media (max-width: $breakpoint-xs) {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: $breakpoint-sm) {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main-button {
  display: inline-block;
  padding: 11px 27px;
  background: #46A358;
  border-radius: 6px;

  @media (max-width: $breakpoint-xs) {
    display: inline-block;
    justify-content: center;
    text-align: center;
  }

  @media (max-width: $breakpoint-sm) {
    margin-bottom: 20px;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Cera Pro Bold, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}

.picture {
  margin-left: 95px;
  position: relative;
  @media (max-width: $breakpoint-xs) {
    display: none;
  }
  @media (max-width: $breakpoint-sm) {
    display: none;
  }
  @media (max-width: $breakpoint-md) {
    margin-left: 0;
    overflow: hidden;
  }
}

.flower-main-mini {
  position: absolute;
  left: 55px;
  bottom: 20px;
}

.goods-and-filter {
  display: flex;
  gap: 40px;
  margin-bottom: 90px;
  @media (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

.filter {
  background: #FBFBFB;
  padding-bottom: 377px;
  @media (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.filter-title {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
  margin: 0;
  padding-top: 14px;
  padding-left: 18px;
  padding-bottom: 7px;
  @media (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
}

.filter-menu {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  list-style-type: none;
  text-decoration: none;
  padding-top: 7px;
  padding-left: 30px;
  margin: 0;

  @media (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
  }
  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
  }

  @media (max-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
  }

  a {
    text-decoration: none;
    color: #3D3D3D;
  }

  li {
    &:hover {
      a {
        font-family: Cera Pro Bold, serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        text-decoration: none;
        color: #46A358;
        transition: color 0.4s;
      }
    }
  }
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
  @media (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

.sorting-tab {
  ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    padding: 0;
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    border: 2px solid transparent;
    @media (max-width: $breakpoint-xs) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 30px 0;
      text-align: center;
      gap: 20px;
    }
    @media (max-width: $breakpoint-sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 30px 0;
      text-align: center;
      gap: 20px;
    }
  }


  a {
    text-decoration: none;
    color: #3D3D3D;
  }

  li {
    &:hover {
      a {
        font-family: Cera Pro Bold, serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        color: #46A358;
        border-bottom: 2px solid #46A358;
        transition: border 0.2s;
      }
    }

    &:first-child {
      a {
        font-family: Cera Pro Bold, serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        color: #46A358;
        border-bottom: 2px solid #46A358;
      }
    }
  }
}

.advertisement {
  @media(max-width: $breakpoint-xs) {
    display: none;
  }
  @media(max-width: $breakpoint-sm) {
    display: none;
  }
  @media(max-width: $breakpoint-md) {
    display: none;
  }
}

.sorting-by {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @media (max-width: $breakpoint-xs) {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 !important;
  }

  @media (max-width: $breakpoint-sm) {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 !important;
  }

  @media (max-width: $breakpoint-md) {
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }
  @media (max-width: $breakpoint-xl) {
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  p {
    margin: 0;
    color: #3D3D3D;
  }

  a {
    margin: 0;
    text-decoration: none;
    color: #3D3D3D;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border: 1px solid transparent;

  &:hover {
    border-top: 1px solid #46A358;
    transition: border 1s;

    .card-icons {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.7s;
    }
  }
}

.card-image {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 300px;
  background: #FBFBFB;
  margin-bottom: 12px;
  position: relative;

  &:hover {
    .card-icons {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.card-image-discount {
  position: absolute;
  top: 14px;
  left: 0;
  font-family: Cera Pro medium, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background: #46A358;
  padding: 7px 9px;
}

.card-text {
  font-family: Cera Pro regular, serif;;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3D;
  margin: 0;
  text-decoration: none;
}

.card-icons {
  position: absolute;
  display: flex;
  bottom: 15px;
  gap: 26px;
  align-items: center;
  opacity: 0;
  pointer-events: none;

  a {
    text-decoration: none;

    &:hover {
      svg {
        path {
          fill: #46A358;
        }
      }
    }
  }
}

.card-price-block {
  display: flex;
  gap: 16px;
}

.card-price-actual {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #46A358;
  margin: 0;
}

.card-price-unactual {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #A5A5A5;
  text-decoration: line-through;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  @media(max-width: $breakpoint-xs) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media(max-width: $breakpoint-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card-text-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  padding-bottom: 82px;

  @media(max-width: $breakpoint-xs) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 !important;
  }
  @media(max-width: $breakpoint-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 !important;
  }

  @media(max-width: $breakpoint-md) {
    margin-right: 25px;
  }

  @media(max-width: $breakpoint-xl) {
    margin-right: 25px;
  }

  a {
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    font-family: Cera Pro Regular, serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;

    &:first-child {
      padding: 10px 14px;
      border-radius: 4px;
      background: #46A358;
      font-family: Cera Pro Bold, serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 16px;
      color: #FFFFFF;
    }

    &:hover {
      padding: 10px 14px;
      border-radius: 4px;
      background: #46A358;
      font-family: Cera Pro Bold, serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 16px;
      color: #FFFFFF;
      transition: background 0.5s, color 0.3s;
    }

    &:last-child {
      padding: 8px 10px;

      &:hover {
        svg {
          path {
            padding: 8px 10px;
            stroke: white;
            fill: none;
          }
        }
      }
    }

    svg {
      path {
        fill: none;
      }
    }
  }
}

.find-more-section {
  display: flex;
  gap: 28px;
  margin-bottom: 138px;
  @media(max-width: $breakpoint-xs) {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
  }
  @media(max-width: $breakpoint-sm) {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
  }
  @media(max-width: $breakpoint-md) {
    display: flex;
    position: static;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media(max-width: $breakpoint-xl) {
    display: flex;
    position: static;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.find-more-block {
  display: flex;
  background: #FBFBFB;
  position: relative;
  @media(max-width: $breakpoint-xs) {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
  }
  @media(max-width: $breakpoint-sm) {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
  }
  @media(max-width: $breakpoint-md) {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
  }
}

.find-more-image {
  position: absolute;
  bottom: 10px;
  height: 292px;

  @media(max-width: $breakpoint-xs) {
    position: static;
  }
  @media(max-width: $breakpoint-sm) {
    position: static;
    display: block;
    margin: 20px auto;
  }
  @media(max-width: $breakpoint-md) {
    position: static;
    display: block;
    margin: 20px auto;
  }
}

.find-more-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-top: 37px;
  @media(max-width: $breakpoint-xs) {
    align-items: center;
  }
  @media(max-width: $breakpoint-sm) {
    align-items: center;
  }
  @media(max-width: $breakpoint-md) {
    align-items: center;
  }
}

.find-more-title {
  font-family: Cera Pro Big, serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 9px;
  @media(max-width: $breakpoint-xs) {
    margin: 0;
    text-align: center;
  }
  @media(max-width: $breakpoint-sm) {
    margin: 0;
    text-align: center;
  }
  @media(max-width: $breakpoint-md) {
    text-align: center;
  }
}

.find-more-description {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #727272;
  margin: 0 30px 25px 264px;
  width: 292px;
  @media(max-width: $breakpoint-xs) {
    margin: 0;
    padding: 20px;
  }
  @media(max-width: $breakpoint-sm) {
    margin: 0;
    padding: 20px;
  }
  @media(max-width: $breakpoint-md) {
    margin: 0;
    padding: 20px;
  }
}

.find-more-button {
  display: flex;
  padding: 11px 27px;
  background: #46A358;
  border-radius: 6px;
  gap: 2px;
  margin-right: 30px;
  width: fit-content;
  margin-bottom: 46px;

  @media(max-width: $breakpoint-xs) {
    margin: 0;
  }
  @media(max-width: $breakpoint-sm) {
    margin: 0 0 20px 0;
  }

  a {
    display: flex;
    font-family: Cera Pro Medium, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
  }
}

.blog-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 68px;
}

.blog-title {
  font-family: Cera Pro medium, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  color: #3D3D3D;
  padding-bottom: 15px;
  margin: 0;
}

.blog-description {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin: 0;
  padding-bottom: 35px;
  @media(max-width: $breakpoint-xs) {
    text-align: center;
  }
  @media(max-width: $breakpoint-sm) {
    text-align: center;
    margin: 0 20px;
  }
}

.blog-post-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  @media(max-width: $breakpoint-xs) {
    justify-content: center;
  }
  @media(max-width: $breakpoint-sm) {
    justify-content: center;
  }
  @media(max-width: $breakpoint-md) {
    justify-content: center;
    width: 100% !important;
  }
  @media(max-width: $breakpoint-xl) {
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: 265px;
  background: #FBFBFB;
}

.blog-card-date {
  font-family: Cera Pro regular, serif;;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #46A358;
  margin: 0 15px;
  padding-top: 9px;
  padding-bottom: 4px;
}

.blog-card-title {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #3D3D3D;
  margin: 0 15px;
  padding-bottom: 4px;
}

.blog-card-description {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #727272;
  margin: 0 15px;
  padding-bottom: 9px;
}

.blog-card-button {
  display: flex;
  align-items: center;
  font-family: Cera Pro Medium, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0 15px;
  padding-bottom: 13px;
  text-decoration: none;
  color: #3D3D3D;

  &:hover {
    color: #46A358;
    transition: color 0.7s;

    svg {
      path {
        fill: #46A358;
        transition: fill 0.9s;
      }
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin-right: 367px;
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  position: relative;

  @media (max-width: $breakpoint-xs) {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  @media (max-width: $breakpoint-sm) {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  @media (max-width: $breakpoint-md) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
    padding: 0;
    gap: 30px;
  }
  @media (max-width: $breakpoint-xl) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
    padding: 0;
    gap: 40px;
  }

  a {
    text-decoration: none;
    color: #3D3D3D;

    &:hover {
      font-family: Cera Pro Bold, serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: #3D3D3D;
      transition: 0.3s;
    }
  }

  > li {
    &:hover {
      > a {
        font-family: Cera Pro Bold, serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #3D3D3D;
        border-bottom: 3px solid #46A358;
        padding-bottom: 24px;
      }

      > ul {
        display: block;
        @media (max-width: $breakpoint-sm) {
          display: none;
        }
        @media (max-width: $breakpoint-xs) {
          display: none;
        }
        @media (max-width: $breakpoint-xl) {
          display: none;
        }
        @media (max-width: $breakpoint-md) {
          display: none;
        }
      }
    }
  }

  li {
    > ul {
      position: absolute;
      padding-top: 40px;
      display: none;
    }
  }
}

.plant-care-menu {
  list-style-type: none;
  position: absolute;
  left: 130px;
  display: none;

  li {
    position: relative;
    padding: 0;
    background: #EDF6EE;

    a {
      display: block;
      padding: 8px 17px 8px 14px;
      text-decoration: none;
      color: #3D3D3D;
      width: 100%;
      height: 100%;
      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }

    &:last-child {
      &:hover {
        a {
          color: #FFFFFF;
          @media (max-width: $breakpoint-sm) {
            display: none;
          }
          @media (max-width: $breakpoint-xs) {
            display: none;
          }
          @media (max-width: $breakpoint-xl) {
            display: none;
          }
          @media (max-width: $breakpoint-md) {
            display: none;
          }
        }
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $breakpoint-sm) {
          display: none;
        }
        @media (max-width: $breakpoint-xs) {
          display: none;
        }
        @media (max-width: $breakpoint-xl) {
          display: none;
        }
        @media (max-width: $breakpoint-md) {
          display: none;
        }
      }
    }

    &:hover {
      > .priming-menu {
        display: block;
        @media (max-width: $breakpoint-sm) {
          display: none;
        }
        @media (max-width: $breakpoint-xs) {
          display: none;
        }
        @media (max-width: $breakpoint-xl) {
          display: none;
        }
        @media (max-width: $breakpoint-md) {
          display: none;
        }
      }

      img {
        content: url('../images/plant-care-white.svg');
      }
    }

    img {
      padding-left: 88px;
    }
  }

  > li {
    &:hover {
      > a {
        background: #1A712A;
        color: #FFFFFF;
        font-family: 'Cera Pro Bold', serif;
        font-weight: 700;
        @media (max-width: $breakpoint-sm) {
          display: none;
        }
        @media (max-width: $breakpoint-xs) {
          display: none;
        }
        @media (max-width: $breakpoint-xl) {
          display: none;
        }
        @media (max-width: $breakpoint-md) {
          display: none;
        }
      }
    }
  }
}

.arrow-icon {
  margin-left: auto;
}

.priming-menu {
  position: absolute;
  left: 186px;
  top: -96px;
  display: none;
  list-style-type: none;
  white-space: nowrap;
  z-index: 2;
  padding-top: 0 !important;

  &::before {
    content: '';
    position: absolute;
    left: -28px;
    top: 0;
    width: 28px;
    height: 100%;
    @media (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  a {
    color: #3D3D3D !important;
    background: #EDF6EE;
    font-family: 'Cera Pro Regular', serif;
    font-weight: 400;

    &:hover {
      background: #1A712A;
      color: #FFFFFF !important;
      font-family: Cera Pro Bold, serif;
      font-weight: 700;
      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }
  }
}

.tips-and-newsletters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FBFBFB;
  gap: 30px;
  @media (max-width: $breakpoint-xs) {
    justify-content: center;
    flex-direction: column;
  }
  @media (max-width: $breakpoint-sm) {
    justify-content: center;
    flex-direction: column;
  }
  @media (max-width: $breakpoint-md) {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  @media (max-width: $breakpoint-xl) {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.tip-header {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #3D3D3D;
}

.tip-content {
  margin-right: 30px;
  width: 204px;
  @media (max-width: $breakpoint-xs) {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  @media (max-width: $breakpoint-sm) {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
}

.tip-description {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #727272;
  margin-top: 9px;
  margin-bottom: 34px;
}

.tip {
  position: relative;
  display: flex;


  &:nth-child(1) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 10%;
      height: 75%;
      width: 1px;
      background: rgba(70, 163, 88, 0.1);
      @media (max-width: $breakpoint-xs) {
        display: none;
      }
      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }
  }

  &:nth-child(2) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 10%;
      height: 75%;
      width: 1px;
      background: rgba(70, 163, 88, 0.1);
      @media (max-width: $breakpoint-xs) {
        display: none;
      }
      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }
  }

  img {
    margin-top: 24px;
    margin-bottom: 15px;
  }

  &:first-child {
    margin-left: 25px;
    @media (max-width: $breakpoint-xs) {
      margin: 0;
    }
    @media (max-width: $breakpoint-sm) {
      margin: 0;
    }
  }
}

.newsletters-header {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 25px;
  @media (max-width: $breakpoint-xs) {
    margin: 0 0 20px 0;
    text-align: center;
  }
  @media (max-width: $breakpoint-sm) {
    margin: 0 0 20px 0;
    text-align: center;
  }
  @media (max-width: $breakpoint-md) {
    margin: 0 0 20px 0;
    text-align: center;
  }
  @media (max-width: $breakpoint-xl) {
    margin: 0 0 20px 0;
    text-align: center;
  }
}

.newsletters-description {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #727272;
  margin-right: 25px;
  margin-top: 18px;
  @media (max-width: $breakpoint-xs) {
    margin: 20px;
    text-align: center;
  }
  @media (max-width: $breakpoint-sm) {
    margin: 20px;
    text-align: center;
  }
  @media (max-width: $breakpoint-md) {
    margin: 20px;
    text-align: center;
  }
  @media (max-width: $breakpoint-xl) {
    margin: 20px;
    text-align: center;
  }
}

.newsletters {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #95ffab 00%, #52C368 100%);
  height: 88px;
  @media (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media (max-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  img {
    padding-left: 23px;
    @media (max-width: $breakpoint-xs) {
      padding-left: 0;
    }
    @media (max-width: $breakpoint-sm) {
      padding-left: 0;
    }
  }
}

.footer-cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background: #FBFBFB;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
  @media (max-width: $breakpoint-xs) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  @media (max-width: $breakpoint-md) {
    gap: 0;
    justify-content: space-between;
  }
  @media (max-width: $breakpoint-xl) {
    margin: 20px;
    justify-content: space-between;
  }
}

.contacts-text {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3D3D3D;
  text-decoration: none;
}

.contacts-address {
  display: flex;
  gap: 11px;
}

.contacts-email {
  display: flex;
  gap: 10px;
}

.contacts-phone {
  display: flex;
  gap: 8px;
  padding-right: 22px;
}

.footer-header {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 8px;
  margin-left: 25px;
  margin-top: 33px;
  @media (max-width: $breakpoint-xs) {
    margin: 30px;
    text-align: center;
  }
  @media (max-width: $breakpoint-sm) {
    margin: 30px;
    text-align: center;
    font-size: 24px;
  }
}

.footer-links {
  list-style-type: none;
  margin-left: 25px;
  margin-bottom: 29px;

  @media (max-width: $breakpoint-xs) {
    margin: 0;
    text-align: center;
  }

  @media (max-width: $breakpoint-sm) {
    margin: 0;
    text-align: center;
  }

  a {
    font-family: Cera Pro Regular, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #3D3D3D;
    @media (max-width: $breakpoint-sm) {
      font-size: 18px;
    }
  }
}

.social-media-icons {
  display: flex;
  gap: 10px;
  margin-right: 155px;
  margin-bottom: 33px;
  @media (max-width: $breakpoint-xs) {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  @media (max-width: $breakpoint-sm) {
    margin: 20px 0 !important;
    display: flex;
    justify-content: center;
  }
  @media (max-width: $breakpoint-md) {
    margin: 10px;
  }
  @media (max-width: $breakpoint-xl) {
    margin: 10px;
  }
}

.social-media-text {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 20px;
  margin-top: 33px;
  @media (max-width: $breakpoint-xs) {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: $breakpoint-sm) {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  @media (max-width: $breakpoint-md) {
    margin: 20px 0;
    text-align: center;
  }
}

.social-and-bank {
  @media (max-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}


.bank-cards {
  @media (max-width: $breakpoint-xs) {
    margin: 20px 0;
  }
  @media (max-width: $breakpoint-sm) {
    margin: 20px 0;
  }

  img {
    @media (max-width: $breakpoint-md) {
      margin: 0 20px;
    }
  }
}

.bank-cards-text {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 13px;

  @media (max-width: $breakpoint-xs) {
    margin: 20px 0;
    text-align: center;
  }

  @media (max-width: $breakpoint-sm) {
    margin: 20px 0;
    text-align: center;
  }

  @media (max-width: $breakpoint-md) {
    text-align: center;
  }


  img {
    margin-bottom: 49px;
  }
}

.rights {
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #3D3D3D;
  margin-top: 6px;
  margin-bottom: 22px;
  text-align: center;
}

.newsletters-form {
  display: flex;
  width: 354px;
  box-shadow: 0 0 20px 0 #0000000F;
  border-radius: 6px;
  @media (max-width: $breakpoint-xs) {
    width: auto;
    display: flex;
    justify-content: space-around;
    box-shadow: none;
  }
  @media (max-width: $breakpoint-sm) {
    width: auto;
    display: flex;
    justify-content: space-around;
    box-shadow: none;
  }
  @media (max-width: $breakpoint-md) {
    width: auto;
    display: flex;
    justify-content: space-around;
    box-shadow: none;
  }
  @media (max-width: $breakpoint-xl) {
    width: auto;
    display: flex;
    justify-content: space-around;
    box-shadow: none;
  }
}

.newsletters-text {
  flex: 1;
  color: #ACACAC;
  font-family: Cera Pro Regular, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-top: 12px;
  padding-left: 11px;
  padding-bottom: 12px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 259px;
  outline: none;
  @media (max-width: $breakpoint-xs) {
    width: auto;
    padding: 0;
  }
}

.newsletters-button {
  font-family: Cera Pro Bold, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
  background: #46A358;
  padding: 12px 25px 13px;
  border-style: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.preloader {
  background-image: url("../images/preloader-background.jpg");
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  animation: fadeOut 0.1s linear forwards;
  animation-delay: 1.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 {
  animation: bounce 0.6s;
}

.circle2 {
  animation: bounce 0.6s;
  animation-delay: 0.2s;
}

.circle3 {
  animation: bounce 0.6s;
  animation-delay: 0.4s;
}
